# Cesium Ion Access Token
# Get your free token at https://ion.cesium.com/
NEXT_PUBLIC_CESIUM_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3MjM2MGI0NS02OGFlLTQ5YjUtOWI2NS00YWRmYWZmMGIzZjEiLCJpZCI6MTc2MDUyLCJpYXQiOjE3NTk2MDExMjF9.9VtFnk66-LPzRbCKRDArwRjxH77pT2T8Kx1JcXGBrOI

NASA_EARTH_API=atmhG4WVRt4ojGNnFMjKH5jyzywUpMOWtXroegYh

# Optional: Analytics or tracking IDs
# NEXT_PUBLIC_GA_ID=your_google_analytics_id

