# Cesium Ion Access Token
# Get your free token at https://ion.cesium.com/
NEXT_PUBLIC_CESIUM_TOKEN=id_here

NASA_EARTH_API=id_here

# Optional: Analytics or tracking IDs
# NEXT_PUBLIC_GA_ID=your_google_analytics_id

